In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the dataset
df = pd.read_csv('data/orders_and_shipments.csv')

In [3]:
# Check the size and number of features
print(f"Number of Features: {df.shape[1]}")
print(f"Size of the dataset: {df.shape[0]}")
print()

# Have a look on dataset
df.head()

Number of Features: 24
Size of the dataset: 30871

,Order ID,Order Item ID,Order YearMonth,Order Year,Order Month,Order Day,Order Time,Order Quantity,Product Department,Product Category,...,Customer Country,Warehouse Country,Shipment Year,Shipment Month,Shipment Day,Shipment Mode,Shipment Days - Scheduled,Gross Sales,Discount %,Profit
0,3535,8793,201502,2015,2,21,14:07,1,Fan Shop,Fishing,...,Mexico,Puerto Rico,2015,2,27,Standard Class,4,400,0.25,200
1,4133,10320,201503,2015,3,2,07:37,1,Fan Shop,Fishing,...,Brazil,Puerto Rico,2015,3,6,Standard Class,4,400,0.09,200
2,7396,18517,201504,2015,4,18,22:47,1,Fan Shop,Fishing,...,Mexico,Puerto Rico,2015,4,20,Standard Class,4,400,0.06,200
3,11026,27608,201506,2015,6,10,22:32,1,Fan Shop,Fishing,...,Denmark,Puerto Rico,2015,6,12,Standard Class,4,400,0.15,200
4,11026,27609,201506,2015,6,10,22:32,1,Fan Shop,Fishing,...,Denmark,Puerto Rico,2015,6,12,Standard Class,4,400,0.13,200

In [4]:
# Check the null values
df.isna().sum()

Order ID                       0
 Order Item ID                 0
 Order YearMonth               0
 Order Year                    0
 Order Month                   0
 Order Day                     0
Order Time                     0
Order Quantity                 0
Product Department             0
Product Category               0
Product Name                   0
 Customer ID                   0
Customer Market                0
Customer Region                0
Customer Country               0
Warehouse Country              0
Shipment Year                  0
Shipment Month                 0
Shipment Day                   0
Shipment Mode                  0
 Shipment Days - Scheduled     0
 Gross Sales                   0
 Discount %                    0
 Profit                        0
dtype: int64

In [5]:
# Check the features (columns)
df.columns

Index(['Order ID ', ' Order Item ID ', ' Order YearMonth ', ' Order Year ',
       ' Order Month ', ' Order Day ', 'Order Time', 'Order Quantity',
       'Product Department', 'Product Category', 'Product Name',
       ' Customer ID ', 'Customer Market', 'Customer Region',
       'Customer Country', 'Warehouse Country', 'Shipment Year',
       'Shipment Month', 'Shipment Day', 'Shipment Mode',
       ' Shipment Days - Scheduled ', ' Gross Sales ', ' Discount % ',
       ' Profit '],
      dtype='object')

In [7]:
# Remove the sapces before and after of each column name
df.rename(columns=lambda x: x.strip(), inplace=True)
df.rename(columns={'Shipment Days - Scheduled':'Shipment Days Scheduled'}, inplace=True)
df.columns

Index(['Order ID', 'Order Item ID', 'Order YearMonth', 'Order Year',
       'Order Month', 'Order Day', 'Order Time', 'Order Quantity',
       'Product Department', 'Product Category', 'Product Name', 'Customer ID',
       'Customer Market', 'Customer Region', 'Customer Country',
       'Warehouse Country', 'Shipment Year', 'Shipment Month', 'Shipment Day',
       'Shipment Mode', 'Shipment Days Scheduled', 'Gross Sales', 'Discount %',
       'Profit'],
      dtype='object')

In [9]:
# Replace the remaining spaces with _
df.columns = [col.lower().replace(' ', '_') for col in df.columns]
df.columns

Index(['order_id', 'order_item_id', 'order_yearmonth', 'order_year',
       'order_month', 'order_day', 'order_time', 'order_quantity',
       'product_department', 'product_category', 'product_name', 'customer_id',
       'customer_market', 'customer_region', 'customer_country',
       'warehouse_country', 'shipment_year', 'shipment_month', 'shipment_day',
       'shipment_mode', 'shipment_days_scheduled', 'gross_sales', 'discount_%',
       'profit'],
      dtype='object')

In [10]:
# The order item should be unique, so check to see if it has duplicates
df.order_item_id.duplicated().sum()

0

In [11]:
# Check yearmonth with year and month columns 
condition1 = df['order_yearmonth'].astype(str).str[-2:].astype(int) == df['order_month']
condition2 = df['order_yearmonth'].astype(str).str[:4].astype(int) == df['order_year']
subset = ['order_yearmonth', 'order_year', 'order_month']
df.loc[condition1 & condition2, subset]

       order_yearmonth  order_year  order_month
0               201502        2015            2
1               201503        2015            3
2               201504        2015            4
3               201506        2015            6
4               201506        2015            6
...                ...         ...          ...
30866           201712        2017           12
30867           201504        2015            4
30868           201603        2016            3
30869           201707        2017            7
30870           201709        2017            9

[30871 rows x 3 columns]

In [12]:
df['product_department'].value_counts()

product_department
Fan Shop             11550
Apparel               8361
Golf                  5746
Footwear              2544
Outdoors              1609
Fitness                396
Discs Shop             264
Technology             241
Pet Shop                75
Book Shop               56
Health and Beauty       29
Name: count, dtype: int64